doctype html
html
  head
    title Pug Project
    link(rel="stylesheet", href="public/styles/styles.css")
    link(rel="stylesheet", href="public/styles/menu.css") 
    link(rel="stylesheet", href="public/styles/navMenu.css") 
    link(rel="stylesheet", href="public/styles/main.css") 
    link(rel="stylesheet", href="public/styles/tableCustomers.css")
    link(rel="stylesheet", href="public/styles/adaptiveMedia.css")
  body
    .container
      include views/components/Menu.pug
      include views/components/Main.pug

    script(src="public/script/menu.js")
    script(src="public/script/table.js")
    script(src="public/script/burger.js")
