include NavMenu.pug 

div.burger-menu(id="burgerMenu")
  div.burger-icon(id="burgerIcon")
    | &#9776;

div.menu(id="menu")
  div.block-logo
    include icons/logo
    div.logo-container
      h1 Dashboard
      p.version v.01
  div.block-dachboard
    include icons/dachboard.pug
    h4 Dashboard
  div.block-nav-menu
    +NavMenu("Product", false)
    +NavMenu("Customers", true)
    +NavMenu("Income", false)
    +NavMenu("Promote", false)
    +NavMenu("Help", false)
