doctype html
html
  head
    title Pug Project
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/menu.css") 
    link(rel="stylesheet", href="/styles/navMenu.css") 
    link(rel="stylesheet", href="/styles/main.css") 
    link(rel="stylesheet", href="/styles/tableCustomers.css")
    link(rel="stylesheet", href="/styles/adaptiveMedia.css")
  body
    .container
      include components/Menu.pug
      include components/Main.pug

    script(src="script/menu.js")
    script(src="script/table.js")
