doctype html
html
  head
    title Pug Project
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/menu.css") 
    link(rel="stylesheet", href="/styles/navMenu.css") 
  body
    .container
      include components/Menu.pug 
      include components/Main.pug
      
    script(src="script/menu.js") 