.menu {
  width: 25%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px;
}

.block-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 10px;
  margin-bottom: 60px;
  border-radius: 5px;
}

.block-dachboard {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 90%;
  margin-bottom: 40px;
}

.block-dachboard svg {
  color: #9197b3;
}

.block-nav-menu {
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: flex-end;
}

.version {
  margin: 0 0 3px 3px;
  color: #838383;
  font-size: 10px;
  display: flex;
  align-items: flex-end;
}
